<form (ngSubmit)="register()">
  <div *ngFor="let field of formFields" class="form-group">
    <label *ngIf="field.type.name !== 'boolean'" [for]="field.id">{{field.id}}</label>
    <input  class="form-control" type="checkbox" name={{field.id}} [(ngModel)]="registrationDetails[field.id]"  *ngIf="field.type.name=='boolean'">
    <input  class="form-control" type="number" name={{field.id}} [(ngModel)]="registrationDetails[field.id]"  *ngIf="field.type.name=='long'">
    <input *ngIf="'string'" [name]="field.id" [id]="field.id" [type]="field.id === 'password' ? 'password' : field.type.name"
    class="form-control" [(ngModel)]="registrationDetails[field.id]">
    <select name="field.id" *ngIf="field.type.name=='enum'">
      <option *ngFor="let val of enumValues" value={{val}}>
        {{field.type.values[val]}}
      </option>
    </select>
  </div>
  <button id="registration-button" type="submit" class="btn btn-primary btn-md align-self-center">
      Register
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
</form>