<ul class="breadcrumb">
  <div class="container-fluid">
    <form class="form-horizontal">
      <div class="row" class="row-sm-12">
        <div class="page-header no-margin-bottom" style="margin-top: 84px;">
          <div id="registrationDiv" class="mainContainer  d-flex justify-content-center">
            <div class="card my_card">
              <div class="col-md-12 col-md-offset-3" id="logreg">
                <div class="input-group input-group-sm d-flex justify-content-center">

                  <span class="form-group" class="col-sm-6">
                    <label>Odaberite nacin pretrage:</label>
                    <select class="form-control" [(ngModel)]="type" class="form-control" name="type" (change)="promenaTipa($event.target.value)">
                      <option *ngFor="let name2 of options2" [value]="name2">{{name2}}</option>
                    </select>
                  </span>
                </div>
                <div class="input-group input-group-sm d-flex justify-content-center">

                  <span class="form-group" class="col-sm-6">
                    <label>Odaberite polje pretrage:</label>
                    <select class="form-control" [(ngModel)]="field" class="form-control" name="field">
                      <option *ngFor="let name of options" [value]="name">{{name}}</option>
                    </select>
                  </span>
                </div>
                <div class="input-group input-group-sm d-flex justify-content-center">
                  <span class="form-group" class="col-sm-6">
                    <label>Unesite text pretrage:</label>
                    <input type="text" name="pojam" [(ngModel)]="pojam" class="form-control">
                  </span>
                </div>
                <div *ngIf="isBoolean==='yes'">
                  <br>
                  <div class="input-group input-group-sm d-flex justify-content-center">

                    <span class="form-group" class="col-sm-6 d-flex justify-content-center">
                      <label class="btn btn-success active">
                        <input type="radio" name="options" value="AND" [(ngModel)]="operationAND">AND
                      </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <label class="btn btn-primary">
                        <input type="radio" name="options" value="OR" [(ngModel)]="operationOR">OR
                      </label>
                    </span>
                  </div>
                  <div class="input-group input-group-sm d-flex justify-content-center">

                    <span class="form-group" class="col-sm-6">
                      <label>Odaberite polje pretrage:</label>
                      <select class="form-control" [(ngModel)]="field2" class="form-control" name="field2">
                        <option *ngFor="let name of options" [value]="name">{{name}}</option>
                      </select>
                    </span>
                  </div>
                  <div class="input-group input-group-sm d-flex justify-content-center">
                    <span class="form-group" class="col-sm-6">
                      <label>Unesite text pretrage:</label>
                      <input type="text" name="pojam2" [(ngModel)]="pojam2" class="form-control">
                    </span>
                  </div>
                </div>
                <br/>
                <div class="input-group input-group-sm d-flex justify-content-center">

                  <span class="form-group" class="col-sm-2">
                    <button (click)="search()" class="btn btn-primary">PRETRAZI</button>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</ul>

<div *ngIf="books.length>0" id="registrationDiv" class="mainContainer  d-flex justify-content-center">
  <div class="card my_card">
    <div class="col-md-12 col-md-offset-3" id="logreg">

      <div class="no-padding-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="block">
                <div class="title">Prikaz rezultata
                </div>
                <div class="block-body">
                  <form class="form-horizontal">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Casopis</th>
                          <th>Naslov</th>
                          <th>Autori</th>
                          <th>Kljucne reci</th>
                          <th>Naucna oblast</th>
                          <th *ngIf="book.hightlight!==null"></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let book of books; let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{book.nazivCasopisa}}</td>
                          <td>{{book.naslovRada}}</td>
                          <td *ngFor="let a of book.autori">{{a.imeAutora}} &nbsp; {{a.prezimeAutora}}</td>
                          <td>{{book.keywords}}</td>
                          <td>{{book.naucnaOblast}}</td>
                          <td *ngIf="book.hightlight!==null">
                            <div [innerHTML]="book.hightlight">
                            </div>
                          </td>
                          <td>
                            <a [routerLink]="[book.filename]">
                              <input type="submit" value="Pogledaj" class="btn btn-primary">
                            </a>
                            <br/>
                            <button *ngIf="book.dostupnost == 'WITH_SUBSCRIPTION'" (click)="kupi()" class="btn btn-md btn-primary btn-block" type="submit">Kupi</button>
                            <button *ngIf="book.dostupnost == 'OPEN_ACCESS'" (click)="download(book.filename)" class="btn btn-md btn-primary btn-block" type="submit">Preuzmi</button>
                       
                          </td>
                             </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>