<div id="registrationDiv" class="mainContainer  d-flex justify-content-center">
  <div class="card my_card">
    <div class="col-md-12 col-md-offset-3" id="logreg">
      <div *ngIf="start!==false">

        <div class="form-group">
          <textarea rows="14" class="form-control" readonly>{{ paper.rad }}</textarea>
        </div>

        <label class="container">
          Da li je rad formatiran prikladno?

          <input type="checkbox" [(ngModel)]="theCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
          <span class="checkmark"></span>
          <input [(ngModel)]="poruka" *ngIf="!marked">Unesite poruku autoru:
        </label>
        <span class="form-group" class="col-sm-2">
          <button (click)="download()" class="btn btn-md btn-primary btn-block" type="submit">Preuzmi</button>
        </span>
        <span class="form-group" class="col-sm-2">
          <button (click)="submit()" class="btn btn-primary">Posalji</button>
        </span>
      </div>
    </div>
  </div>
</div>