<div id="registrationDiv" class="mainContainer  d-flex justify-content-center">
  <div class="card my_card">
    <div class="col-md-12 col-md-offset-3" id="logreg">
      <div *ngIf="start!==false">

        <div class="form-group">
          <textarea rows="14" class="form-control" readonly>{{ paper.rad }}</textarea>
        </div>
        <span class="form-group" class="col-sm-2">
          <button (click)="download()" class="btn btn-md btn-primary btn-block" type="submit">Preuzmi</button>
        </span>
        <h3>Unesite svoju reviziju</h3>
        <label class="container">
          
            <span class="form-group" class="col-sm-6">
          <label>Poruka autoru:</label> </span>
          <span class="form-group" class="col-sm-6">
          <textarea rows="5" cols="50" [(ngModel)]="commentAuthor" ></textarea><br/></span>
          
          <span class="form-group" class="col-sm-6">
          <label>Poruka editoru:</label></span><span class="form-group" class="col-sm-6"><textarea rows="5" cols="50" [(ngModel)]="commentEditor" ></textarea>
        </span><br/>
        <span class="form-group" class="col-sm-6">
            <label>Sugestija:</label>
            <select class="form-control" [(ngModel)]="suggestion" class="form-control" name="suggestion">
              <option *ngFor="let name of options" [value]="name">{{name}}</option>
            </select>
          </span>
        </label>
        <span class="form-group" class="col-sm-2">
          <button (click)="submit()" class="btn btn-primary">Posalji</button>
        </span>
        
      </div>
    </div>
  </div>
</div>