.rec {
  width: 60%;
  height: 70%;
  background: rgba(207, 219, 237, 0.95);
  margin-left: 20%;
  margin-bottom: 16%;
  /*padding: 30% 3% 10% 5%;*/
}

.error { color: crimson; }
.success { color: green; }

.form-inline {
  margin-left: 10%;
  padding-top: 5%;
}
