<!--<div class="registration-page-content">
  <div class="registration-title">
    <h2>Registracija</h2>
  </div>
  <div class="registration-form">
    <div class="col-md-4 offset-md-4">
      <app-registration-form (registrationExecuted)="register($event)" [formFields]="formFields"></app-registration-form>
    </div>
  </div>
</div>-->



<div id="registrationDiv" class="mainContainer  d-flex justify-content-center">
    <div class="card my_card">
      <div class="col-md-12 col-md-offset-3" id="logreg">
  
  
        <form class="form-horizontal">
  
            <button *ngIf="start===false" type="button" class="btn btn-primary button-accept-accounting" (click)="startRegisterProcess()">Register</button>
            <div *ngIf="start===true">
            <app-registration-form (registrationExecuted)="register($event)" [formFields]="formFields"></app-registration-form>
          </div>
          <br/>
          <br/>
          <br/>
          <div class="form-group">
              <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
              <span style="color:white">Vec imate nalog?!</span>&nbsp;&nbsp;&nbsp;
              <a id="registration-shortcut" routerLink="/login" style="color:darkblue">Uloguj se</a>
              </div>
              </div>
              </div>
          </form>
      </div>
    </div>
  </div>