<div id="registrationDiv" class="mainContainer  d-flex justify-content-center">
    <div class="card my_card">
      <div class="col-md-12 col-md-offset-3" id="logreg">
        <p id="message">
          <span style="color:white">Greska pri registraciji!</span>&nbsp;&nbsp;&nbsp;
        </p>
        <div *ngIf="isDoneLoading">
            
          <form class="col-md-4 form" (ngSubmit)="register()" #signupForm="ngForm">
            <h2 class="form-heading">Sign up</h2>
            <div *ngFor="let field of formFields">
              <div *ngIf="field.name!=='isOK'">
                  <label>{{field.name}}</label>
                  <input type="text" *ngIf="field.name !== 'password'" class="form-control" [(ngModel)]="field.value.value"
                    name="{{field.name}}">
                  <input type="password" *ngIf="field.name === 'password'" class="form-control" [(ngModel)]="field.value.value"
                    name="{{field.name}}">
              </div>

              
            </div>
            <br>
            <button id="signinButton" [disabled]="signupForm.form.invalid" class="btn btn-lg btn-primary btn-block"
              type="submit">Sign up</button>
          </form>
          </div>
      </div>
    </div>
  </div>