
.sidenav {
    height: 80%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 13%;
  left: 1%;
  overflow-x: hidden;
  padding-top: 2%;
  color: #5b5b5b;
  background: #d08b53;
  border-right: 1px solid #b7b7b7;
}

.sidebar-top {
  height: 2%;
  border-bottom: 1px solid #b7b7b7;
}

.sidenav ul {
  list-style: none;
  padding-left: 0;
}

.sidenav li {
  padding: 5%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1.1em;
  color: #5b5b5b;
  display: block;
  cursor: default;
  background: #8daaa6;
  border-bottom: 1px solid #b7b7b7;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

li.active {
  background: #ff7518;
  font-weight: bold;
}

.sidenav img {
  margin-left: 2%;
}

li a {
  color: #5b5b5b;
}

li a:link, a:visited {
  text-decoration: none;
}

.sidenav li:hover {
  color: #f1f1f1;
}

.task-item {
  padding-left: 3%;
}